#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: black;
}

.card {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.115;
}

.card:hover {
  box-shadow: 0.2rem 0.2rem white;
  translate: -2px -2px;
  cursor: pointer;
}

.card > h2 {
  font-size: 2rem;
  border-left: 1px solid purple;
}

.card tag {
   background-color: white;
  font-weight: bold; /* Torna o texto em negrito */
  color:  black; /* Define a cor do texto para azul, por exemplo */
  border: 4px solid white;
  border-radius: 1rem;
  margin: 3px;
  
}

    
    

   

